.reports-page {
    text-align: center;
    margin: auto;
  }
  
  .reports-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .reports-title {
    margin-right: 10px;
  }
  
  .reports-icon {
    font-size: 1.5em;
  }
  
  .report-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .report-container.visible {
    max-height: 1000px; /* Adjust according to your content height */
  }
  
  .reports-page .m-3.rounded-2xl.bg-white.p-2.flex.flex-col.justify-start {
    display: none;
  }
  
  .reports-page .m-3.rounded-2xl.bg-white.p-2.flex.flex-col.justify-start.visible {
    display: flex;
  }