:root{
    background-color: white;
    scroll-behavior: smooth;
}
div{
    background: white;
}

.tilted-div {
    width: 100%;
    height: 200px;
    background-color: rgb(6, 60, 78);
    position: relative;
    clip-path: polygon(40px 0%, calc(100% - 30px) 100%, 100% 100%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 18px;
    font-weight: bold;
   
  }


  .pdf-export table {
    width: 100%;
    font-size: 10px;
  }
  
  .pdf-export th, .pdf-export td {
    padding: 4px;
    text-align: left;
    word-wrap: break-word;
  }
  
  .pdf-export th {
    background-color: #f3f4f6;
    color: #d32f2f;
  }
  
  .pdf-export td {
    border: 1px solid #e0e0e0;
  }
  